@model List<Onion.MVCApp.Template.Models.Employee>

<div class="text-center">
    <h1 class="display-4">Employee</h1>
</div>
<div>
    <table class="table table-bordered table-striped table-sm m-2">
        <thead>
            <tr>
                <th>#</th>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Address</th>
                <th>Employee JobTitle</th>
                <th>Actions</th>
            </tr>
        </thead>
        @{ int i = 1; }
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    @{ i++;}
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.JobTitle</td>
                    <td><a asp-action="EditLocation" asp-route-employeeId="@item.Id">Edit Employee</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>